__pycache__/
*.pyc
*.pyo
*.pyd

.git
.github

.vscode
.idea

venv/
.venv/

.env

*.db
*.sqlite
*.sqlite3

Dockerfile.old
README.md

*.log__pycache__/
*.pyc
*.pyo
*.pyd

.git
.github

.vscode
.idea

venv/
.venv/

.env

*.db
*.sqlite
*.sqlite3

Dockerfile.old
README.md

*.log